/** {
  border: 3px solid black
}*/

/*img {
width: 200px;
}*/

body {
background: rgba(191, 63, 63, 0.8);
}

li {
font-size: 40px;
}


h1 {
text-align: center;
font-size: 70px;
padding: 30px;
}

p {
text-align: center;
font-size: 50px;
padding: 50px;
}

img {
background-color: rgba(178, 178, 76, 0.4);
padding: 50px;
height: 300px;
width: 300px;
margin: 15px;
object-fit: contain;

}

section {
border-color: : black;
padding: 50px;
display: inline;
margin-left: 600px

}
